<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습문제</title>
  </head>
  <body>
    <h1>실습문제1</h1>
    <form action="/practiceResult" method="post">
      <span>이름</span>
      <label> <input type="text" name="name" /></label>
      <br />
      <fieldset>
        <legend>성별</legend>
        <legend>
          <label><input type="radio" name="sex" />남자</label>
          <label><input type="radio" name="sex" />여자</label>
        </legend>
      </fieldset>
      <br />
      <fieldset>
        <legend>생년월일</legend>
        <legend>
          <label>
            <select name="date">
              <option value="2024년">2024</option>
              <option value="2023년">2023</option>
              <option value="2022년">2022</option>
              <option value="2021년">2021</option>
              <option value="2020년">2020</option>
            </select>
            년
            <select name="date">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            월
            <select name="date">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            일
          </label>
        </legend>
      </fieldset>
      <br />
      <fieldset>
        <legend>관심사</legend>
        <legend>
          <label><input type="checkbox" name="interest" />운동</label>
          <label><input type="checkbox" name="interest" />여행</label>
          <label><input type="checkbox" name="interest" />음식</label>
        </legend>
      </fieldset>
      <br />
      <button type="submit">가입</button>
    </form>
  </body>
</html>
