<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>practiceResult</title>
  </head>
  <body>
    <h1><%=title%></h1>
    <div><span><%= userInfo.id %></span>님 환영합니다</div>
    <div>비밀번호는<span><%= userInfo.pw %></span>이군요</div>
  </body>
</html>
