.letters{
    width: 900px;
    position: absolute;
   animation: text 2s ease 1 ;
}

@keyframes text{
    0%{
        left: 120%;
        width: 1700px;
    }
    50%{
        width: 1500px;
    }
    100%{
        left: 0%;
        width: 100%;
    }
}
z